# Ignore Teacher Demo Code & Private Docs
Code_Demo/
Code_Demo
*.md
!README.md
!Smurf/README.md
!Smurf/software_architecture.md

# Dependencies
node_modules/
.next/
dist/
build/
__pycache__/
*.pyc
.venv/
*.sqlite
redpanda-data/
